* {
    margin: 0;
    padding: 0;
}

.main-container{
    display: flex;
    flex-flow: row;
}

.tv-container{
    display: inline-flex;
    width: 270px;
    height: 400px;
    flex-flow: column;
}

.television{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: brown;
    width: 200px;
    height: 150px;
    padding: 10px;
    margin: 10px;
}

.screen{
    background: cornsilk;
    width: 180px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control{
    width: 200px;
    height: 150px;
    padding: 10px;
    margin: 10px;
}
