* {
    margin: 0;
    padding: 0;
}

body, .main-container{
    width: 100vw;
    height: 100vh;
}

.tv-container{
    display: inline-flex;
    width: 370px;
    height: 500px;
    flex-flow: column;
}

.television{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: brown;
    width: 300px;
    height: 250px;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

.screen{
    background: cornsilk;
    width: 280px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control{
    width: 300px;
    height: 230px;
    padding: 10px;
    margin: 10px;
}

.tv-container2{
    display: inline-flex;
    width: 420px;
    height: 500px;
    flex-flow: column;
}

.television2{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: gray;
    width: 350px;
    height: 250px;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

.screen2{
    background: cornsilk;
    width: 330px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control2{
    width: 350px;
    height: 230px;
    padding: 10px;
    margin: 10px;
}